@use "sass:list";

.throne-playground {
  $font-family: "Droid Sans Mono", "monospace", monospace, "Droid Sans Fallback";

  font-family: $font-family;
  width: 100%;
  height: 100%;

  .editor {
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
    float: left;
  }

  .editor {
    $atom-colors: #bf616a, #d08770, #ebcb8b, #a3be8c, #b48ead, #8fbcbb, #88c0d0, #81a1c1, #5e81ac;
    @for $i from 1 to 10 {
      .atom-#{$i} {
        color: darken(list.nth($atom-colors, $i), 20%) !important;
      }
    }
  }

  .icon-button {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    color: #666;
    opacity: 75%;
  }

  .icon-button:hover {
    opacity: 100%;
  }

  .icon-button:disabled {
    opacity: 25%;
    color: red;
    cursor: default;
  }

  .icon-button svg {
    overflow: visible;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: inherit;
    vertical-align: -0.125em;
  }

  .emoji-button, .settings-button {
    position: absolute;
    padding: 9px;
    padding-bottom: 5px;
    bottom: 15px;
    z-index: 1;
    font-size: 24px;
    border-bottom: 4px solid transparent;
  }

  .emoji-button.active, .settings-button.active {
    color: #4F81E5;
    border-bottom: 4px solid #4F81E5;
  }

  .settings-button {
    right: 85px;
  }

  .emoji-button {
    right: 35px;
  }

  .settings-window {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
    z-index: 1;

    .item {
      border-top: 1px solid #ccc;
      padding: 10px;

      &:first-child {
        border: none;
      }
    }

    input {
      max-width: 50px;
    }

    button {
      font-family: $font-family;
    }
  }

  .live-view-container {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
    padding: 15px 0 50px 0;
  }

  @media screen and (max-width: 1680px) {
    .editor {
      width: 40%;
    }

    .live-view-container {
      width: 60%;
    }
  }

  @media screen and (max-width: 1400px) {
    .editor {
      width: 30%;
    }

    .live-view-container {
      width: 70%;
    }
  }

  .playback {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  [data-control-state="paused"] .playback {
    right: 17px;
    position: relative;
  }

  .play-button, .pause-button, .reset-button  {
    display: none;
    font-size: 34px;
  }
  [data-control-state="ready"] .play-button {
    display: block;
  }
  [data-control-state="playing"] .pause-button {
    display: block;
  }
  [data-control-state="paused"] .play-button {
    display: block;
  }
  [data-control-state="finished"] .reset-button, [data-control-state="paused"] .reset-button {
    display: block;
  }
  [data-control-state="error"] .play-button {
    display: block;
  }

  .error-message {
    display: none;
    color: red;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  [data-control-state="error"] .error-message {
    display: flex;
  }

  .view-settings {
    position: absolute;
    bottom: 15px;
    left: 15px;
  }

  .live-view {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    &.visual {
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  .phrase {
    display: inline-block;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid transparent;
  }

  .phrase[data-depth="0"] {
    display: table;
  }

  .phrase.added {
    animation: animate-add 0.1s linear forwards;
    border: 2px solid green;
  }

  .phrase.removed {
    animation: animate-remove 0.1s linear forwards;
    border: 2px solid red;
  }

  @keyframes animate-add {
    from {
      opacity: 25%;
    }
    to {
      opacity: 100%;
    }
  }

  @keyframes animate-remove {
    from {
      opacity: 100%;
    }
    to {
      opacity: 25%;
    }
  }
}
