html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Droid Sans Mono", "monospace", monospace, "Droid Sans Fallback";
}

#editor {
  width: 50%;
  height: 100%;
  overflow: hidden;
  float: left;
}

#live-view {
  width: 50%;
  height: 100%;
  float: left;
}

.phrase {
  display: inline-block;
  margin: 5px;
  padding: 2px;
  border-radius: 5px;
}

.phrase[data-depth="0"] {
  display: table;
}

#controls {
  position: fixed;
  top: 0;
  right: 0;
}
