html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Droid Sans Mono", "monospace", monospace, "Droid Sans Fallback";
}

#editor {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
}

.icon-button {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  color: #666666;
}

.icon-button svg {
  overflow: visible;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: inherit;
  vertical-align: -0.125em;
}

.emoji-button {
  position: absolute;
  padding: 9px;
  padding-bottom: 5px;
  bottom: 15px;
  right: 35px;
  z-index: 1;
  font-size: 1.5em;
  border-bottom: 4px solid transparent;
}

.emoji-button.active {
  color: #4F81E5;
  border-bottom: 4px solid #4F81E5;
}

#live-view-container {
  width: 50%;
  height: 100%;
  position: relative;
  float: left;
  padding: 15px 0 50px 0;
}

#controls {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#controls #playback {
  display: flex;
  flex-direction: row;
}

[data-control-state="paused"] #playback {
  right: 7.5em;
  position: relative;
}

.play-button, .pause-button, .reset-button  {
  display: none;
  font-size: 15em;
  opacity: 50%;
}

.play-button:hover, .pause-button:hover, .reset-button:hover  {
  opacity: 100%;
}

[data-control-state="ready"] .play-button {
  display: block;
}
[data-control-state="playing"] .pause-button {
  display: block;
}
[data-control-state="paused"] .play-button {
  display: block;
}
[data-control-state="finished"] .reset-button, [data-control-state="paused"] .reset-button {
  display: block;
}

#settings {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

#live-view {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.phrase {
  display: inline-block;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid transparent;
}

.phrase[data-depth="0"] {
  display: table;
}

.phrase.added {
  animation: animate-add 0.1s linear forwards;
  border: 2px solid green;
}

.phrase.removed {
  animation: animate-remove 0.1s linear forwards;
  border: 2px solid red;
}

@keyframes animate-add {
  from {
    opacity: 25%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes animate-remove {
  from {
    opacity: 100%;
  }
  to {
    opacity: 25%;
  }
}
